{{define "base"}}
<!doctype html>
<html lang='en'>
	<head>
		<meta charset="utf-8">
		<title>{{template "title" .}} - SecretBox</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="/static/css/normalize.css">
		<link rel="stylesheet" href="/static/css/skeleton.css">
		<link rel="icon" type="image/png" href="/static/img/favicon.png">
	</head>

	<body>
    	<div class="container">

		<header>
				<h4><a href='/'>SecretBox</a></h4>
<!-- 			<div class="one-half column">
				<a class="button" href='/secret/create'>Create secret</a>
			</div>
 -->		</header>
			<div>
			</div>
			{{with .Flash}}
			<div class="flash">
				Share this link:
				<a href="{{.}}">link to secret</a>
			</div>
			{{end}}
			{{template "body" .}}
		{{template "footer" .}}
		</div>
	</body>
</html>
{{end}}
