{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "body"}}
	<h3>Unknown secret</h3>
	<label class="u-full-width error">It either never existed or has already been viewed.</label>
	<form action='/secret/create' method='GET'>
		<div>
			<button class="u-full-width button-primary" type="submit">Create a new one!</button>
		</div>
	</form>
{{end}}

