[Unit]
Description=Secretbox is a self-distructing notes
After=network.target
Documentation=https://github.com/pavel1337/secretbox

[Service]
ExecStart=/usr/local/bin/secretbox -c /etc/config/yml -addr localhost:4000 -secret $(pwgen 32 -1)
TimeoutStopSec=0

[Install]
WantedBy=multi-user.target
Alias=secretbox.service
