[Unit]
Description=Secretbox is a self-distructing notes
After=network.target
Documentation=https://github.com/pavel1337/secretbox

[Service]
ExecStart=/usr/local/sbin/secretbox -c /etc/secretbox/config.yml -addr localhost:4000
TimeoutStopSec=0
WorkingDirectory=/etc/secretbox

[Install]
WantedBy=multi-user.target
Alias=secretbox.service
